extends ../shared/template
block content
  .row
    .col-xs-2
    .col-xs-4
      img.thumbnail.profile-pic(src= client.photo)
    .col-xs-4#message-form
      h5 Contact #{client.name}
      form(role='form', method='post', action='/message/#{client._id}')
        .radio-inline
          label
            input(type='radio', name='mtype', value='text', checked=true)
            span Text
        .radio-inline
          label
            input(type='radio', name='mtype', value='email')
            span Email
        .radio-inline
          label
            input(type='radio', name='mtype', value='internal')
            span Internal
        .form-group
          label(for='message')
          textarea.form-control#message(name='message')

        button.btn.btn-primary(type='submit') Send
    .col-xs-2
  .row
    .col-xs-2
    .col-xs-4
      .title
        h2 #{client.name}'s Profile
        h5= client.tagline
    .col-xs-4
      .col-xs-2.info
        h5 Email
        p= client.email
        h5 Phone
        p= client.phone
      .col-xs-2.info
        h5 Facebook
        p: a(href='user.facebook', target='_blank')= client.facebook
        h5 Twitter
        p: a(href='user.twitter', target='_blank')= client.twitter
    .col-xs-2


block scripts

